
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

  body{

    font-family: 'Roboto', sans-serif;
  }


nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    border-bottom: solid 2px black;
    height: 80px;
    align-items: center;
    background-color:#ffc017;
  
}

nav img{
    margin-left:350px;
    width: 400px;
}
nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

nav ul li{
    font-size: 1em;
    margin-right: 40px;
}
nav button{
    font-size: 1.2em;
    color: white;
    background-color:#191919;
    border: none;
    width: 300px;
    height: 50px;
    margin-right: 250px;
    border-radius: 30px;
}
.navAnimation{
    transition: 500ms;
    background-color: white;

}
.navAnimation button{
    background-color: #1a8917;
}
svg{
    margin-top: 80px;
}
header{
    
    border-bottom: solid 2px black;
    background-color:#ffc017;
    display: flex;
    justify-content: space-between;
    height: 550px;
}
.text{
   
    margin-left: 350px;
}
.text h1{
    margin-top: 150px;
    font-size: 8.2em;
    font-weight: bold;
    font-family: 'Spectral', serif;
}

.text p{
    font-family: 'Spectral', serif;
    width: 450px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 1.5em;
    
}

.text button{
    font-size: 1.3em;
    color: white;
    background-color:#191919;
    border: none;
    width: 280px;
    height: 50px;
    margin-right: 280px;
    border-radius: 30px;
}
 h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 350px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

h3 img{
    margin-right: 20px;
}
.container{
   
    margin-left: 350px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
   
    
}
.trending{
    margin-top: 40px;
    display: flex;
    margin-bottom: 50px;
    margin-right: 100px;
    max-width: 800px;
}
.container .article{
    max-width: 300px;
}
.number{
    color: gainsboro;
    font-size: 3em;
    font-weight: bolder;
    margin-right: 20px;
}

.article h5{
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.article h5 img{
    display: flex;
    align-items: center;
    width: 30px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.article h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
}
.article p{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: rgb(126, 126, 126);
}
.article p img{
    margin-left: 5px;
}
    hr{
        height: 1px;
        background-color: #ccc;
        border: none;
    }
main{
    position: relative;
    margin-top: 50px;
    position: relative;
    display: flex;
    margin-right: 100px;
}
.news{
    margin-left: 350px;
   
}

.photo{
    float: right;
    
}
.photo img{
    max-width: 250px;
}
main .article{
    margin-bottom: 90px;
}
main .article p{
    font-size: 0.8em;
}
.categories{
    width: 500px;
    margin-left: 200px;
}
.categories h4{
    font-size: bold;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.categories button{
    height: 40px;
    font-size: 1.2em;
    max-width: 200px;
    color: rgb(126, 126, 126);
    background-color: white;
    border: solid 1px   gainsboro; ;
    margin-right: 20px;
    margin-bottom: 20px;
}

.categories ul{
   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.categories ul li{
    color: rgb(126, 126, 126);
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.2em;
}

 .categoriesFixed {

    position: fixed;
    top: 200;
    bottom: 550px;
    left: 1200px;
   
} 

b{
    display: flex;
    align-items: center;
    background-color: rgb(236, 236, 236); 
    margin-left: 0px;
    max-width: 280px;
    height: 40px;
    padding-left: 10px;
    padding-right: 5px;    
    border-radius: 50px;
    margin-top: 5px;
}
.article img[alt="bookmark"] {
    margin-left: auto;
    margin-right: 20px;
  }